<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict/>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>AA5314501FE0FE2E0025C9BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA5314F21FE0FE750025C9BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>AA5314F71FE0FEC70025C9BE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>BE1FA90707AF96B2004B6283</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
